* {
  font-family: Arial, Helvetica, sans-serif; }

.navbar {
  height: 40px;
  background-color: #040303;
  text-align: center; }
  .navbar span {
    color: #B2B2B2; }

.content {
  width: 100%;
  font-size: 2rem; }
  .content ::after {
    content: "";
    clear: both; }

.selection-list {
  height: 50px;
  width: 100%; }
  .selection-list .selection {
    text-align: center;
    display: inline-block;
    border-style: solid;
    border-color: #6A7B76;
    border-width: 2px;
    margin: 5px; }
  .selection-list ::after {
    content: "";
    clear: both; }
