$DavyGrey :    #595959;
$RichBlack :   #040303;
$SpringBud :   #506B29;
$Smoke :       #6A7B76;
$AshGrey :     #B2B2B2;

* {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  height: 40px;
  background-color: $RichBlack;
  text-align: center;

  span {
      color: $AshGrey;
  }
}

.content {
    width: 100%;
    font-size: 2rem;
    //border: solid 5px black;
    ::after {
        content:"";
        clear: both;
    }
}


.selection-list {
    height: 50px;
    width: 100%;

    .selection {
        text-align: left;
        display: block;
        width: 100%;
        margin: 5px 0;
    }
}

.our-dropdown {
  width: 75%;
  display: block;
}
